/* define role page */
@media (min-width: 1200px) {
    .define-role-block
    {
        width:1000px;
    }
    #stripe-connect-area
    {
        width:1000px;
    }
}
.define-role-block
{
    padding:10px 10px;    
    border:1px solid #00BFFF;
    border-radius: 5px;    
}
.roleTitle
{
    font-size:16px;    
}

.define-role-form-block
{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;  
}
.submit-button-container
{
    display:flex;
    justify-content: flex-start;
    margin-top:15px;
}
.define-role-form-block button
{
    width:200px;
    padding:10px;
}

.define-role-form-block p
{    
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

.define-role-form-block p strong
{
    font-size:1.2em;    
}

.define-role-form-block input[type="radio"]
{
    width: 15px;
    height:15px;
    
}

.define-role-form-block span
{
    margin-left:20px;
    font-size:1em !important;
    width:300px;
}

/* end define role page */

/* profile page */
.custom-video-call-profile-container
{
    margin-top:40px;    
    margin-bottom: 50px;    
    box-shadow: 0 5px 30px rgba(7, 36, 86, .075);
    padding-left: 0px;
    padding-right:0px;
    border-radius: 10px;
    padding-bottom:30px;
}
.custom-video-call-profile-header
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,162,205,1) 0%, rgba(19,19,163,1) 0%, rgba(0,212,255,1) 100%);
    height:120px;
    border-radius: 10px;
    position: relative;
    z-index:999;
}

.custom-video-call-profile-header .avatar-container
{
    position: absolute;
    width:120px;
    height:120px;     
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
}

.custom-video-call-profile-header .avatar-container img
{
    border-radius: 50%;
    width:100%;
    height: 100%;
}
.custom-video-call-profile-body
{
    margin-top:80px;
    padding:10px 25px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}
.custom-video-call-form-title
{
    margin-top:0;
    margin-bottom: 0;
    font-size:1.3em;
    color:#d3d3d3;
}
.custom-video-call-inputs input[type="text"]
{
    width:100%;
    border-radius: 10px;
    padding:15px 20px;

    box-shadow: 0px 4px 8px rgba(188, 207, 219, 0.65);
    margin-top:25px;
    font-size:1em;
    border:1px solid rgba(188, 207, 219, 0.65);
    
}
.custom-video-call-inputs input[type="text"]:focus
{
    border:1px solid rgba(188, 207, 219, 0.65);
    outline:0;
}
.custom-video-call-profile-bio
{
    margin-top:30px;    
    border-radius: 10px;
    padding:15px 20px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(188, 207, 219, 0.65);
    border:1px solid rgba(188, 207, 219, 0.65);
    box-sizing: border-box;
}
.custom-video-call-profile-bio:focus
{
    border:1px solid rgba(188, 207, 219, 0.65);
    outline: 0;
}
/* end profile page */

/* post service page */
.post-service-section
{    
    padding:20px 10px;    
}
.post-service-title
{
    color:#717171;
    font-size:28px;
    text-align: center;
}
.post-service-form-group
{
    margin:10px 0px 25px 0px;    
    
}

.post-service-form-group label
{
    color:#717171;
    display: block;
    margin-bottom:1px;
    font-weight: 600 !important;
}

.post-service-form-group input[type="text"]
{
    outline:0;
    border:0;    
    height:45px;
    padding:10px 0px;
    width:100%;
    margin:0 !important;
    border-bottom: 1px solid rgba(137, 138, 144, 0.2);
    background-color: #ffffff;
    border-radius: 0px;
}
.post-service-form-group select
{
    background-color: #ffffff;
    color:#717171;
}
.service-image-upload-container
{
    margin:10px 0px;
}
.video-call-btn-upload-image
{
    /* background-color: #00BFFF; */
    background-color: #ffffff;
    border:0;
    outline:0;
    border:1px solid #d3d3d3;    
    border-radius: 10px;
    font-size:18px;
    padding:10px 20px;
    color:#717171;
}
#uploaded_image
{
    display: none;
}
@media (min-width: 1200px) {
    .post-service-section {
        padding: 10px 100px;
    }
}
/* end */

/* service list page css */
.service-list-wrapper
{    
    padding:20px 15px;
}
.service-list-wrapper .custom-service-item
{
   
    border:1px solid #ededed;
    border-radius: 5px;    
    margin-bottom:25px;
    box-shadow: 0px 4px 8px rgba(188, 207, 219, 0.65);
}
.service-list-wrapper .custom-service-image-container
{    
    padding:15px 10px;   
  /*  border:1px solid salmon; */
}

.service-list-wrapper .custom-service-image-container img
{
   /* width:350px;
    height: 240px; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.service-list-wrapper .custom-service-content-container
{    
    padding:15px 10px;     
/*    border:1px solid yellow; */
}
.custom-service-list-item-title
{
    color:#00BFFF;  
    font-size:22px;    
    margin-bottom: 0px;
}

.custom-service-list-item-title a
{
    color:#00BFFF;  
}

.custom-service-list-item-info
{
    margin-top:5px;
    font-size:14px;    
    color: #808080;
    font-weight: 800 !important;
}
.custom-service-list-item-info span
{
    margin-right:15px;
}

.custom-service-list-item-description
{
    margin-top:10px;
    font-size:16px !important;
    color: #808080;
    text-align: left;
    line-height: 25px;
}
.custom-service-list-item-author
{
    margin-top:15px;
    font-size:1em;
    color: #808080;
    font-style: italic;
}
.custom-service-list-item-author a
{
    display:flex;
    align-items: center;
    font-size:16px;
}
.custom-service-list-item-author img
{
    width:40px;
    height:40px;
    margin-left:5px;
    border-radius: 50%;
}
.custom-service-pagination
{
    list-style-type: none;    
    display:flex;    
    justify-content: center;    
    flex-wrap: wrap;
    width:100%;    
}
.custom-service-pagination li
{
    margin-bottom: 10px;
}
.custom-service-pagination li a,
.custom-service-pagination li span
{
    padding:5px 15px;
    border:1px solid #ededed;
    border-radius: 5px;
    margin-left:10px;    
}

.custom-service-pagination .current
{
    color:#ffffff !important;
    background-color: #00BFFF !important;
}
.all-services-title
{
    font-size:24px !important;
    padding:0px !important;
    margin:0 !important;
    margin-bottom:15px !important;
    margin-left:-15px !important;
    margin-right:-15px !important;
    display:flex;
    justify-content: space-between;
}
.publish-unpublish-btn,
.publish-unpublish-btn:hover,
.publish-unpublish-btn:focus
{
    padding:5px;
    font-size:14px;
    background-color: #ffffff;
    color:#d3d3d3;
    margin-left:10px;
    border:0px;
    border:1px solid #d3d3d3;
    text-transform: capitalize;
}
.my-service-container
{
    display: flex;
    align-items: center;
}
.my-service-container  .myservice-text
{
    font-size:16px !important; 
}
/* switch button */
.custom-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right:5px;
  }
  
  /* Hide default HTML checkbox */
  .custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .switch-slider {
    background-color: #2196F3;
  }
  
  input:focus + .switch-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .switch-slider.round {
    border-radius: 34px;
  }
  
  .switch-slider.round:before {
    border-radius: 50%;
  }

/* end switch button */
.service-custom-filters-container
{
    margin:0 !important;
    margin-bottom:25px !important;
    margin-left:-15px !important;
    margin-right:-15px !important;        
    padding:10px 15px !important;
    display:flex;
    border-radius: 10px;
    border:1px solid #ededed;
    box-shadow: 0px 4px 8px rgba(188, 207, 219, 0.65);
}
.service-custom-filters-container .custom-filter-option
{
    border-right:1px solid #ededed;
    color:#717171;
}
.service-custom-filters-container .custom-filter-option:last-child
{
    border:0px;
    color:#717171;
}

.service-custom-filters-container .custom-filter-option input[type="text"]
{
    border:0px;
    outline:0px;
    padding:10px 0px;
    font-size:14px;
    color:#717171;
}
.service-custom-filters-container .custom-filter-option .ts-control
{
    border:0px; 
    padding:10px 0px;
    font-size:14px;
    color:#717171;
    width:100%;
}
.service-custom-filters-container .custom-filter-option .ts-dropdown-content
{
    font-size:14px;
}
.service-custom-filters-container .custom-filter-category,
.service-custom-filters-container .custom-filter-price,
.service-custom-filters-container .custom-filter-date
{
    position: relative;
}
.service-custom-filters-container .custom-filter-date i,
.service-custom-filters-container .custom-filter-price i
{
    color:#717171;
}
.service-custom-filters-container .custom-filter-search i
{
    margin-right:10px;
    color:#717171;
}

.service-custom-filters-container .custom-filter-date i,
.service-custom-filters-container .custom-filter-price i,
.service-custom-filters-container .custom-filter-category i
{
    position: absolute;
    top:50%;   
    right: 5px;
    transform: translate(-50%, -50%);
    width: 20px; /* Set width of child element */
    height: 20px; /* Set height of child element */
    z-index:99999;
}
.service-custom-filters-container .custom-filter-price
{
    border:0px !important;
}
.custom-filter-search-btn-container
{ 
    padding:0px;
    display: flex;
    justify-content: center;
}
.custom-filter-search-btn-container .custom-search-service-btn
{
    padding:5px 10px !important;
    font-size:16px;
    outline:0 !important;
    border: 0 !important;
    background-color:#00BFFF;
    color:#ffffff;
    border-radius: 5px;
    width:100%;
    
}
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  
    .service-list-wrapper .custom-service-image-container img
    {
        width:250px;
        height:180px;
    }

    .service-custom-filters-container .custom-filter-option
    {
        width:100%;
        display: flex !important;
        justify-content: space-between;        
        flex-direction: row;       
        align-items: center; 
        font-size:16px !important;       
    }
   
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    
    .service-custom-filters-container .custom-filter-option
    {
        display: flex !important;
        justify-content: center;        
        flex-direction: row;        
    }
  
    .service-list-wrapper .custom-service-image-container img
    {
        width:250px;
        height:180px;
    }
}
@media (max-width: 620px) {
    .service-custom-filters-container .custom-filter-option 
    {
        border:1px solid #ededed !important;
        color:#717171;
        margin-bottom:15px;
        border-radius: 5px;
    }
}
/* end */


/* single video service page */
.single-video-service-wrapper
{
    padding:30px 15px;    
    margin-bottom:150px !important;
}
.single-video-left-section
{   
    
    box-shadow: 0px 4px 8px rgba(188, 207, 219, 0.65);
    border:1px solid #ededed;
    border-radius: 10px;
    margin-bottom:20px;
    padding-bottom:30px;
}

.single-video-left-section .custom-video-service-title
{
    font-size:1.4em;
    padding:15px;
    
}
.single-video-left-section .custom-video-service-title p
{
    color:#00BFFF;
    border-bottom:1px solid #ededed;
    padding-bottom: 10px;
    margin:0;
}

.single-video-left-section .custom-video-service-image
{
    padding:5px 15px;
}

.single-video-left-section .custom-video-service-image .custom-service-image
{
    width:100%;
    height:100%;
    border-radius:5px;
}
.single-video-left-section .custom-video-service-description
{
    margin:5px 0px 15px 0px;   
    font-size:1em;
    line-height: 25px;
    text-align: left;
    padding:10px 15px;
}
.single-video-right-section
{
    padding:0px 15px;
    
}
@media (max-width: 1024px) {
    .single-video-right-section
    {
        padding:0px 5px;
    }
}
.single-video-right-section .custom-video-service-detail
{
    box-shadow: 0px 4px 8px rgba(188, 207, 219, 0.65);
    border:1px solid #ededed;
    border-radius: 10px; 
    padding:0px 15px;
    font-size:14px !important; 
}
.single-video-right-section .custom-video-service-price
{
    padding:10px 0px;
    font-size:1.4em;
    text-align: right;
    border-bottom:1px solid #ededed;
    color:#00BFFF;
    font-weight: 600;
}
.single-video-right-section .custom-video-service-detail .info-item
{
    padding:0px 5px;
    font-size:16px !important;
}
.single-video-right-section .custom-video-service-detail .info-item svg,
.single-video-right-section .custom-video-service-detail .info-item i
{
    margin-right:5px;
}
.single-video-right-section .custom-video-service-calendar
{
    padding:0px 15px;
    margin-bottom:15px;
}

.custom_date_chosen
{
    background-color: #00BFFF;
}
.custom_date_hover
{
    background-color: #00BFFF;  
}
.custom-video-service-select-date-area
{
    padding:10px;    
    font-size:14px;
}
.custom-video-service-select-date-area p
{
    margin:0 !important;
}

.custom-video-service-select-time-area
{
    padding:10px;    
    font-size:14px;
}

.custom-video-service-select-time-area p
{
    margin:0 !important;
}
.selected-highlight-text
{
    font-weight: 800 !important;
}
.custom-video-service-checkout-form-wrapper
{
    margin:5px 0px;
    padding:0 15px;
}
.custom-video-service-checkout-btn
{
    background-color:#00BFFF !important;
    padding:10px 15px;
    font-size:14px;
    color:#ffffff;
    outline:0;
    border:0;
    font-weight:400 !important;
}
.custom-form-card-element
{
    border:1px solid #ededed;
    border-radius: 10px;
    padding:15px 10px;
    margin-bottom: 15px;
}
.custom-video-service-checkout-form-wrapper .info-checkout-field
{
    background-color: #ffffff !important;
    margin-bottom:10px;
    padding:10px;
    border:1px solid #ededed !important;
    width: 100% !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}
.custom-video-service-checkout-form-wrapper .info-checkout-label
{
    display: block;
}
.video-call-checkout-title
{
    margin:0 !important;
    margin-bottom:15px !important;
    font-size:24px;
}
/* end */

/* css for booking management page */
.all-booking-wrapper
{    
    padding:15px 0px;
}
.all-booking-title
{
    font-size:1.6em;
    margin:0 !important;
    margin-bottom: 20px;
}
.custom-video-booking-item-list
{
    padding:15px;
}
.custom-video-booking-item
{    
    box-shadow: 0px 4px 8px rgba(188, 207, 219, 0.65);
    border:1px solid #ededed;
    border-radius: 10px;
    padding:10px 15px;
    margin-bottom:25px;
    
}

.custom-video-booking-item-content
{
    display: flex;
    align-items: stretch;
    
}
.custom-video-booking-item-datetime
{
  
}

.custom-video-booking-item-content .custom-video-booking-item-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding:15px 20px;    
    border-right:1px solid #ededed;
    
}

.custom-video-booking-item-content .custom-video-booking-item-column .item-column
{
    margin-bottom:10px;
    width: 100%;
    padding-left:40px;
    font-size:16px;
}
.custom-video-booking-item-content .custom-video-booking-item-column .item-column i
{
    margin-right:5px;
    color:#00BFFF;
}
/* status booking */
/*upcoming */
.custom-upcoming-border
{
   border-left:10px solid #FDD017;
}
.custom-upcoming-booking
{
    color:#FDD017;
    font-weight: 800;
    text-transform: uppercase;
}
.custom-upcoming-color
{
    color:#FDD017;
}
/*completed */
.custom-completed-border
{
    border-left:10px solid #008000;
}
.custom-completed-booking
{
    color:#008000;
    font-weight: 800;
    text-transform: uppercase;
}
.custom-completed-color
{
    color:#008000;
}
/*in progress */
.custom-inprogress-border
{
    border-left:10px solid rgb(16, 162, 239);
}
.custom-inprogress-booking
{
    color:rgb(16, 162, 239);
    font-weight: 800;
    text-transform: uppercase;
}
.custom-inprogress-color
{
    color:rgb(16, 162, 239);
}

/* cancelled */
.custom-cancelled-border
{
    border-left:10px solid #d3d3d3;
}
.custom-cancelled-booking
{
    color:#d3d3d3;
    font-weight: 800;
    text-transform: uppercase;
}
.custom-cancelled-color
{
    color:#d3d3d3;
}
/* overdue */
.custom-overdue-border
{
    border-left:10px solid #ff8282;
}
.custom-overdue-booking
{
    color:#ff8282;
    font-weight: 800;
    text-transform: uppercase;
}
.custom-overdue-color
{
    color:#ff8282;
}

/* end status booking */
.custom-video-booking-item-content .custom-video-booking-item-column .item-column:last-child
{
    margin-bottom: 0px;
}
.custom-video-booking-item-column .booking-avatar img
{
    border-radius: 50%;
    width:80px;
    height:80px;
}
.custom-video-booking-item-author .item-column
{
    padding-left:0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.custom-video-booking-item-service
{
    display: flex;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}
.custom-video-booking-item-service .item-column
{
    padding-left:10px !important;

}
.custom-video-booking-item-service .service-title
{
    font-size:18px !important;
    font-weight: 600;
}
.custom-video-booking-item-service .service-description
{
    font-size:14px !important;
}
.custom-video-booking-item-service .service-description p
{
    margin:0 !important;
    margin:10px 0px !important;
}
.custom-actions
{
    display:flex;
    flex-wrap: wrap;
    margin-top:5px;        
    padding:5px !important;    
    justify-content: center;
}

.custom-actions .action-link
{
    padding:10px;
    border:1px solid #ededed;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(188, 207, 219, 0.65);    
    text-transform: capitalize; 
    margin-right:10px;  
    font-size:16px !important;         
    color:#333 !important;
}
.custom-actions-right-column
{
    margin-top:0px !important;
    justify-content: flex-start !important;
}
.booking-filters-area
{
    display:flex;
    margin:10px 0px;
}
.booking-filter-container
{    
    margin-right:30px;  
    width:20%;
    display: flex;
    flex-direction: column;
}

.booking-option-filter
{
    width:100%;
}
.booking-filter-container .booking-filter-title
{
    font-size:16px;
    font-weight: 600;
}
.booking_filter_search
{
    padding: 5px 10px !important;
  font-size: 14px;
  outline: 0 !important;
  border: 0 !important;
  background-color: #00BFFF;
  color: #ffffff;
  border-radius: 5px;
  
}
.booking_filter_search:hover,
.booking_filter_search:focus
{
    background-color: #00BFFF;
}
/* end */

/* stripe connect container */
.stripe-connect-container
{     
    margin-top:20px !important;
    border-radius: 5px;
    border:1px solid #00BFFF;
    padding:10px !important;
    display: flex;
    flex-direction: column;
}
.stripe-connect-title
{
    font-size:16px !important;    
    padding:0 !important;
    display:block;
}
.stripe-connect-link
{
    font-size:16px;
    color:#ffffff !important;
    background-color: #00BFFF !important;
    padding:5px 10px;
    border-radius: 10px;
    text-decoration: none !important;
    width:20%;
    text-align: center;
    margin-top: 10px;
}
.connect-stripe-result
{
    min-height:600px;
    text-align: center;
    padding:40px 0px;    
}
.stripe-post-service-link
{
    font-size:18px;
    color:#ffffff !important;
    background-color: #00BFFF !important;
    padding:10px 20px;
    border-radius: 10px;
}
/* end */

/* video call page */
.video-call-container-wrapper
{
    padding:50px 0px;
    margin:20px auto 50px auto !important;
}
.not-match-time-alert
{
    padding:50px 0px !important;
    font-size:20px !important;
    text-align: center;
    min-height:1000px;
}
/*end */

/* calendar */

/* Change the color of the calendar header text */
.fc-toolbar h2 {
    color: rgb(74, 74, 74) !important; /* Change to your desired color */
}

/* Change the color of the day numbers in the grid */
.fc-daygrid-day-number {
    color: rgb(74, 74, 74) !important; /* Change to your desired color */
    font-size:14px !important;
}

/* Change the color of the day names in the grid */
.fc-day-header {
    color: rgb(74, 74, 74) !important; /* Change to your desired color */
}

/* Optionally, change the color of the text in events as well */
.fc-event-title, .fc-event-time {
    color: rgb(74, 74, 74) !important; /* Change to your desired color */
    font-size:12px !important;
}

/* end calendar */

/* fix bug to match live site */
#selected-time-area
{
    font-size:14px !important;
}
.ui-timepicker-standard a
{
    font-size:16px !important;
}
.service-custom-filters-container .custom-filter-search svg
{
    margin-right: 10px !important;
    color: #717171 !important;
    font-size: 16px !important;
}

.custom-video-booking-item-content .custom-video-booking-item-column .item-column svg
{
    margin-right: 5px  !important;
    color: #00BFFF !important;
}


/* end */